@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");




.list-items{
  text-align: left; 
  font-size: 1.5rem;
  padding: 20px;
}

.row{
  padding: 10px;
  margin: 0 20px;
}
li{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.col{
  border-right: 1px black solid;
}

.chapters{
  margin-top: 10px;
}


.iframe-container{
  text-align: center;
}
.question{
  margin-bottom: 100px;
  background-color:#391B54;
  color: white;
  padding-bottom: 20px;
  border-radius: 10px;
}
.question h3{
  padding: 20px;
}
.sol-img
{
  margin-top: 5px;
}